/*globe section*/
.globe-section{
    margin-top: 10cm;
    padding-top: 10cm;
    background-color: rgb(243,243,243);
}
.globe-text{
    margin-left: 2cm;
}
.para2{
    margin-top: 1cm;
    font-family: 'Times New Roman', Times, serif;
    font-size: 17px;
    margin-right: 20cm;
    line-height: 5vh;
}
.globe-image-div{
    margin-top: 2cm;
    position: relative;
}

.black-box {
    position: absolute;
    background-color: rgb(46, 45, 45);
    height: 50%;
    width: 50%;
    z-index: 1;
    right: 0%;
    top : 15%;
}
.arrow-buttons{
    padding-top: 5%;
    padding-left: 10%;
    width: 25%;
    display: flex;
    justify-content: space-evenly;
}
.arrow{
    background-color: transparent;
    border: none;
}
.arroe-right{
    margin-left: 50%;
}

.sun-wind-path{
    padding-top: 10%;
    padding-left: 10%;
    width: 40%;
    display: flex;
    justify-content: space-around;
}

.weather-txt{
    margin-top: 9px;
    padding-right: 9px;
    color: rgb(182, 177, 177);
    font-size: 0.7rem;
}
.adress{
    padding-top: 12%;
    padding-left: 10%;
}
.adress-text{
    font-size: 1.1rem;
    color: rgb(173, 168, 168);
}
.main-adress{
    padding-top: 3%;
    padding-left: 10%;
}
.main-adress-text{
    color: rgb(241, 239, 239);
}
.coordinates{
    padding-top: 10%;
    padding-left: 10%;
}
.coordinates-text{
    font-size: 1rem;
    color: rgb(231, 231, 231);
}
.black-box-image{
    position: absolute;
    height: 55%;
    width: 20%;
    z-index: 1;
    right: 5%;
    top : 2%;
}
.map-image{
    position: absolute;
    background-color: black;
    height: 50%;
    width: 50%;
    z-index: 1;
    right: 0%;
    top: 15%;
}
.map{
    position: absolute;
    height: 55%;
    width: 25%;
    z-index: 1;
    right: 5%;
    top: 2%;
}
.caption-3{
    font-size: 45px;
    font-family: 'Times New Roman', Times, serif;
    line-height: 6vh;

}
/* three image grid  */
.grid-images {
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
}
.grid {
    height: 649px;
    width: 565px;
    margin-top: 0px;
}

