a {
    text-decoration: none;
    color: var(--text-gray);
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}


.flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.logo-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 120px;
    z-index: 1;
    opacity: 4;
    margin-top: 2%;
    margin-left: 100px;
}


.nav-items {
    height: min-content;
    display: flex;
    flex-direction: row;
    z-index: 1;
    margin-top: 2%;
    margin-left:30%;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.nav-link {
    color: white;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    padding: 0 1rem;
    font-size: 1.5rem;
   
}

body,
html {
    height: 100%;
    margin: 0;
}

.section {
    height: 100%;
    position: relative;

}

.text {
    vertical-align: middle;
    height: 100%;
    margin-left: 100px;
    padding-top: 200px;
}

.main-heading {
    margin-top: 0;
    margin-bottom: 0;
    color: white;
    font-size: 57px;
    font-weight: 200;
    z-index: 1;
    font-size: 100px;
    margin-bottom: 0;
    margin-left: 200px;
}

.tag-line {
    font-size: 100px;
    color: #fff;
    margin: 0;
    letter-spacing: 3px;
    margin-left: 200px;

}

.menu-div {
    width: 100%;
    padding-top: 1%;
    margin-right: 100px;
}

.drpdwn-a {
    color: white;
    padding: 0;
    text-decoration: none;
    display: block;
}

.a-div {
    padding: 10px 30px;
    margin: 10px;
    margin-right: 50px;
    font-size: 3rem;
    font-weight: 200;
}

.drpdwn-a:hover {
    margin-left: auto;
    margin-right: auto;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    width: fit-content;
}

.drpdwn-btn {
    border: none;
    cursor: pointer;
    background-color: transparent;
    transition: 1s;
    
}

.logo-btn {
    display: flex;
    justify-content: space-around;
   
}

.dropdown {
    color: white;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    /* padding: 1.8rem 1rem; */
    font-size: 1.5rem;
    display: block;
    margin-top: 2%;
}

.menu-content {
    display: none;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    /* padding-left: 15%;
    padding-right: 15%; */
    padding-top: 3%;
    opacity: 10;
    z-index: 100;
}

.menu-btn {
    height: 40px;
    width: 40px;
}

.img-tag {
    width: 200px;
    height: 50px;
}

@media only screen and (max-width: 500px) {
    .menu-div {
        padding-top: 0%;
        margin-right: 0;
        margin-left: 100px;
    }
    header {
        /* margin-bottom: 2000px; */
        padding: 0;
    }
    .drpdwn-btn {
        margin-bottom: 4000px;
    }
}
.bckgrnd-video {
    min-width: 100%;
    min-height: 50%;
    position: absolute;
    overflow: hidden;
    z-index: -10;
    background-position: center;
    background-size: cover;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}



.section-3 {
    background-color: #fff;
    height: fit-content;
    padding: 50px 0;
}

.section-4 {
    background-color: #f5f5f5;
    padding-top: 80px;
    position: relative;
    z-index: 1;
}


.section4-paragraph {
    width: 50%;
    font-size: 18px;
    color: #666;
}

.sec4-image-div {
    padding: 0 150px;
}

.a-section-container {
    display: flex;
    flex-direction: row;
}

.sec4-a-tag:hover {
    border-bottom-style: solid;
    border-bottom-width: 2px;
    width: fit-content;
    padding-bottom: 2px;
}

.sec4-div {
    padding: 10px 30px 10px 0px;
}

.section2 {
    background-color: #fff;
    width: 100%;
}

.text-image {
    padding: 10%;
    width: 50%;
}

.image-container {
    width: 100%;
    background-image: url("/assets/MountainImage.jpg");
    background-position: 0;
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    padding: 10% 0 4%;
}

.text1 {
    font-size: calc(30.66667px + 1.06667vw);
    font-family: gt-sectra;
    font-style: normal;
}

.text2 {
    font-size: calc(20.66667px + 1.06667vw);
    font-family: gotham;
    font-weight: 100;
    font-style: normal;
}

.paragraph {
    text-align: justify;
    font-size: 16px;
    font-family: 'messina-sans', sans-serif;
    color: #1f1f1f;
    line-height: 1.9;
    padding-bottom: 10%;
    width: 80%;
    margin-top: 4rem;
}

.man-img {
    width: 100%;
    padding-top: 20%;
}

.ocean {
    padding: 9% 0;
    height: 10%;
    width: 40%;
    margin-right: 100px;
}

@media only screen and (max-width:1255px) {

    .man-img {
        width: 100%;
    }

    .paragraph {
        font-size: 14px;
        width: 90%;
    }
}

@media only screen and (max-width:890px) {
    .image-container {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .text-image {
        width: auto;
    }

    .paragraph {
        font-size: 14px;
        width: 100%;
    }

    .ocean {
        padding: 9% 5%;
    }
}
.section-4 {
    background-color: #f5f5f5;
    padding-top: 80px;
    position: relative;
    z-index: 1;
}


.section4-paragraph {
    width: 50%;
    font-size: 18px;
    color: #666;
}

.sec4-image-div {
    padding: 0 150px;
}

.a-section-container {
    display: flex;
    flex-direction: row;
}

.sec4-a-tag:hover {
    border-bottom-style: solid;
    border-bottom-width: 2px;
    width: fit-content;
    padding-bottom: 2px;
}

.sec4-div {
    padding: 10px 30px 10px 0px;
}





/*globe section*/
.globe-section{
    margin-top: 10cm;
    padding-top: 10cm;
    background-color: rgb(243,243,243);
}
.globe-text{
    margin-left: 2cm;
}
.para2{
    margin-top: 1cm;
    font-family: 'Times New Roman', Times, serif;
    font-size: 17px;
    margin-right: 20cm;
    line-height: 5vh;
}
.globe-image-div{
    margin-top: 2cm;
    position: relative;
}

.black-box {
    position: absolute;
    background-color: rgb(46, 45, 45);
    height: 50%;
    width: 50%;
    z-index: 1;
    right: 0%;
    top : 15%;
}
.arrow-buttons{
    padding-top: 5%;
    padding-left: 10%;
    width: 25%;
    display: flex;
    justify-content: space-evenly;
}
.arrow{
    background-color: transparent;
    border: none;
}
.arroe-right{
    margin-left: 50%;
}

.sun-wind-path{
    padding-top: 10%;
    padding-left: 10%;
    width: 40%;
    display: flex;
    justify-content: space-around;
}

.weather-txt{
    margin-top: 9px;
    padding-right: 9px;
    color: rgb(182, 177, 177);
    font-size: 0.7rem;
}
.adress{
    padding-top: 12%;
    padding-left: 10%;
}
.adress-text{
    font-size: 1.1rem;
    color: rgb(173, 168, 168);
}
.main-adress{
    padding-top: 3%;
    padding-left: 10%;
}
.main-adress-text{
    color: rgb(241, 239, 239);
}
.coordinates{
    padding-top: 10%;
    padding-left: 10%;
}
.coordinates-text{
    font-size: 1rem;
    color: rgb(231, 231, 231);
}
.black-box-image{
    position: absolute;
    height: 55%;
    width: 20%;
    z-index: 1;
    right: 5%;
    top : 2%;
}
/*.globe-img{
    margin-right: 300px;
}*/
.map-image{
    position: absolute;
    background-color: black;
    height: 50%;
    width: 50%;
    z-index: 1;
    right: 0%;
    top: 15%;
}
.map{
    position: absolute;
    height: 55%;
    width: 25%;
    z-index: 1;
    right: 5%;
    top: 2%;
}
.caption-3{
    font-size: 45px;
    font-family: 'Times New Roman', Times, serif;
    line-height: 6vh;

}
/* three image grid  */
.grid-images {
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
}
.grid {
    height: 649px;
    width: 565px;
    margin-top: 0px;
}

/*  */


#lifewellexpcards {
    background-color: white;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.exp-box {
    background-image: url("https://dxaurk9yhilm4.cloudfront.net/images/728/Expereinces_slider_190716_095517_464875650e0665072829219c2109f3b9.jpg");
}

.lifestyle-box {
    background-image: url("https://dxaurk9yhilm4.cloudfront.net/images/729/lifestyle_slider_190716_095537_0b2516e730d44c336347c45fc67effd5.jpg");
}

.wellness-box {
    background-image: url("https://dxaurk9yhilm4.cloudfront.net/images/730/wellness_slider_190716_095551_7a63ac04cea98219d28754079427d015.jpg");
}

.exp-box,
.lifestyle-box,
.wellness-box {
    background-position: center;
    color: #fff;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 30px;
    align-items: center;
}

.arrowoncard {
    width: 37px;
    fill: #fff;
    position: relative;
    top: 30px;
    left: 20px;
}

.arrowoncard1 {
    width: 37px;
    fill: #fff;
    position: relative;
    top: 30px;
    left: 0px;
    transform: rotateZ(90deg);
}

.buttoncircle {
    border: 2px solid white;
    height: 90px;
    position: relative;
    width: 90px;
    border-radius: 120px;
}

.buttonandtitle {
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    bottom: 450px;
    color: #fff;
    font-size: xx-large;
}

.title {
    font-weight: 200;
}

.arrow-btn {
    border: 2px solid #fff;
    border-radius: 100%;
    color: #fff;
    /* padding: 2px;     */
    font-size: 50px;
    width: 80px;
    padding-bottom: 15px;
    background-color: transparent;
}

@media only screen and (max-width:1000px) {
    #lifewellexpcards {
        flex-direction: column;
        width: 100%;
    }

    #experience,
    #wellness,
    #lifestyle {
        height: 40%;
    }

    .text {
        padding: 0 30px;
    }

    .exp-box,
    .lifestyle-box,
    .wellness-box {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 0;
    }
}

@media only screen and (max-width: 699px) {
    .nav-link {
        font-size: 15px;
        padding: 0 10px;
    }

    .sec4-image-div {
        padding: 0 70px;
    }
}

@media screen and (max-width: 500px) {

    .text {
        font-size: 20px;
        margin: 40% 0;
    }

    h1 {
        font-size: 30px;
    }

    .section4-paragraph {
        width: 100%;
    }

    .nav-items {
        display: none;
    }
}

@media only screen and (max-width: 360px) {
    .nav-link {
        display: none;
    }
    

}
@media only screen and (max-width:300px) {
    .a-section-container {
        flex-direction: column;
    }
}





